In [5]:
#Q1 get pandas version

import pandas as pd
pd.__version__

'2.2.3'

In [2]:
#Fetch data
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
df = pd.read_csv(url)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [4]:
#Q2 get count

row_count = len(df)
print(row_count)

9704

In [11]:
#Q3 Get fuel types

fuel_type_counts = df['fuel_type'].value_counts()
print (fuel_type_counts)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [13]:
print(fuel_type_counts.count())

2

In [20]:
#Q4 Find count of missing values

columns_with_missing_values = df.columns[df.isna().any()]

print("Columns with missing values:")
for column in columns_with_missing_values:
    print(column)

Columns with missing values:
num_cylinders
horsepower
acceleration
num_doors

In [22]:
#Q5 Get Max Fuel Efficiency

max_fuel_efficiency = df['fuel_efficiency_mpg'].max()
print(max_fuel_efficiency)

25.96722204888372

In [24]:
#Q6 Horsepower

#Initial Median
median_horsepower = df['horsepower'].median()
print(median_horsepower)

149.0

In [28]:
#Calculate Most Frequent value of Horsepower - Mode
most_frequent_horsepower = df['horsepower'].mode()[0]
print(most_frequent_horsepower)

152.0

In [29]:
#Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step
df['horsepower'] = df['horsepower'].fillna(most_frequent_horsepower)

In [30]:
new_median_horsepower = df['horsepower'].median()
print(new_median_horsepower)

152.0

In [42]:
#Q7
cars_from_asia = df[df['origin'] == 'Asia']
a_car_wt_yr = cars_from_asia[['vehicle_weight','model_year']]
a_car_wt_yr.head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [60]:
#Get numpy array
import numpy as np

numpy_array_x = a_car_wt_yr.head(7).to_numpy()
print("\nConverted NumPy Array:")
print(numpy_array_x)

Converted NumPy Array:
[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [61]:
print(len(numpy_array_x))

7

In [62]:
numpy_array_x_transpose = numpy_array_x.T

xtx = np.matmul(numpy_array_x_transpose, numpy_array_x)

xtx_inv = np.linalg.inv(xtx)

np_array_y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [63]:
inv_trans_mul = np.matmul(xtx_inv,numpy_array_x_transpose)

w_arr = np.matmul(inv_trans_mul, np_array_y.T)

In [65]:
sum_of_elem = w_arr.sum()
print(sum_of_elem)

0.5187709081074006